body{
	background-image: url(Background.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.Monstres{
	display: flex;
	justify-content: space-around;
}

.Monstre1{
	height: 150px;
	width: 200px;
	display: flex;
	border: 2px solid red;
	margin-left: 270px;
}

.Monstre2{
	height: 150px;
	width: 200px;
	display: flex;
	border: 2px solid red;
}

.Monstre3{
	height: 150px;
	width: 200px;
	display: flex;
	border: 2px solid red;
}

.infobulles{
	display: flex;
	justify-content: space-around;
}

.infobulle1{
	display: flex;
	border: 2px solid black;
	height: 20px;
	width: 130px;
	margin-left: 270px;	
}

.infobulle2{
	display: flex;
	border: 2px solid black;
	height: 20px;
	width: 130px;
}

.infobulle3{
	display: flex;
	border: 2px solid black;
	height: 20px;
	width: 130px;
}

.Aventuriers{
	height: 50px;
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 270px;
	border: 2px solid red;

}